{% extends 'base.html' %}

{% block js_content %}
    $(document).ready(function() {
    $(".contact_date").addClass('active');
    });
{% endblock %}

{% block main_content %}
       <h3>
        Airline
       </h3>
       <br>
           Юридический и почтовый адрес:<br>
           "Национальный исследовательский Томский Политехнический Университет"<br>
           Россия, 634050, г. Томск, проспект Ленина, дом 30
           г.Томск, пр.Ленина, 30, оф.127<br>
           +7(38-22) 60-63-33;
           +7(38-22) 56-38-65;
           tpu@tpu.ru
{% endblock %}