
<!DOCTYPE html>
{% extends 'base.html' %}

{% block js_content %}
    $(document).ready(function() {
    $(".flights_all").addClass('active');
    });
{% endblock %}

{% block content_head %}
{% endblock %}

{% block main_content %}
    <form action="/flights_all/" method="post">
        {% csrf_token %}
        <table class="table table-bordered">
            <thead style="background-color:dimgray; color:white">
            <tr>
                <th>Flight number</th>
                <th>Departure date</th>
                <th>Departure city</th>
                <th>Arrival city</th>
                <th>Departure time</th>
                <th>Arrival time</th>
                <th>Flight duration</th>
            </tr>
            </thead>
            {% for flight in object_list %}
                <tbody>
                    <tr class="hover">
                        <td>{{ flight.flight.flight_number }}</td>
                        <td>{{ flight.departure_datetime|date:"Y-m-d" }}</td>
                        <td>{{ flight.flight.departure_airport }}</td>
                        <td>{{ flight.flight.arrival_airport }}</td>
                        <td>{{ flight.flight.departure_time|time:"H:i" }}</td>
                        <td>{{ flight.flight.arrival_time|time:"H:i" }}</td>
                        <td>{{ flight.get_flight_time }}</td>
                    </tr>
                </tbody>
            {% endfor %}
        </table>
        page {{ page_number|add:0 }}
        <input type="hidden" name="page" value= {{ page_number|add:0 }} >
        <input {% if previous %} type="submit" {% else %} type="hidden"  {% endif %}  name="previous" value="previous">
        <input {% if next %} type="submit" {% else %} type="hidden"  {% endif %} name="next" value="next">
    </form>
{% endblock %}

<html>
<head>
    <title></title>
</head>
<body>

</body>
</html>