{% extends 'base.html' %}

{% block js_content %}
    $(document).ready(function() {
    $(".menu_search").addClass('active');
    });
{% endblock %}

{% block content_head %}
    {% include 'search_form.html' %}
{% endblock %}

{% block main_content %}
    {% if unique_flights %}
        <table class="table table-bordered">
            <thead style="background-color:dimgray; color:white">
            <tr>
                <th>Flight number</th>
                <th>Departure date</th>
                <th>Departure city</th>
                <th>Arrival city</th>
                <th>Departure time</th>
                <th>Arrival time</th>
                <th>Economy</th>
                <th>Business</th>
                <th>First</th>
                <th></th>
            </tr>
            </thead>
            {% for unique_flight in unique_flights %}
                <tbody>
                <form action="/fill_data/" method="post">
                    {% csrf_token %}
                    <tr class="hover">
                        <td>{{ unique_flight.flight.flight_number }}</td>
                        <td>{{ unique_flight.departure_datetime|date:"Y-m-d" }}</td>
                        <td>{{ unique_flight.flight.departure_airport }}</td>
                        <td>{{ unique_flight.flight.arrival_airport }}</td>
                        <td>{{ unique_flight.flight.departure_time|time:"H:i" }}</td>
                        <td>{{ unique_flight.flight.arrival_time|time:"H:i" }}</td>
                        <td class="price">
                            {% if unique_flight.left_seats_E > 0 %}
                                <label class="radio">
                                    <input type="radio" name="class_of_service" value="E" checked="true"/>
                                    {{ unique_flight.flight.price_E }}</label>
                            {% else %}
                                not available
                            {% endif %}
                        </td>
                        <td class="price">
                            {% if unique_flight.left_seats_B > 0 %}
                                <label class="radio">
                                    <input type="radio" name="class_of_service" value="B" checked="true"/>
                                    {{ unique_flight.flight.price_B }}</label>
                            {% else %}
                                not available
                            {% endif %}
                        </td>
                        <td class="price">
                            {% if unique_flight.left_seats_F > 0 %}
                                <label class="radio">
                                    <input type="radio" name="class_of_service" value="F" checked="true"/>
                                    {{ unique_flight.flight.price_F }}</label>
                            {% else %}
                                not available
                            {% endif %}
                        </td>
                        <td>
                            {% if unique_flight.left_seats_E > 0 %}
                                <input type="submit" name="action" value="Place order"/>
                                <input type="hidden" name="unique_flight_id" value="{{ unique_flight.id }}"/>
                            {% elif unique_flight.left_seats_B > 0 %}
                                <input type="submit" name="action" value="Place order"/>
                                <input type="hidden" name="unique_flight_id" value="{{ unique_flight.id }}"/>
                            {% elif unique_flight.left_seats_F > 0 %}
                                <input type="submit" name="action" value="Place order"/>
                                <input type="hidden" name="unique_flight_id" value="{{ unique_flight.id }}"/>
                            {% else %}
                                <input type="submit" name="action" value="Place order" disabled/>
                                <input type="hidden" name="unique_flight_id" value="{{ unique_flight.id }}"/>
                            {% endif %}
                        </td>
                    </tr>
                </form>
                </tbody>
            {% endfor %}
        </table>
    {% else %}
        <h4>There are no available flights</h4>
    {% endif %}
{% endblock %}
