{% extends 'base.html' %}

{% block main_content%}

    <form action="/place_order/" method="post">
        {% csrf_token %}
        {{ order_form.as_p }}
        Class of service: {{ class_of_service }} <br/> {# TODO: make selectable: ajax #}
        Price: {{ price }} <br/>
        <input name="unique_flight_id" type="hidden" value="{{ unique_flight.id }}">
        <input name="class_of_service" type="hidden" value="{{ class_of_service }}"> {# TODO: remove #}
        <input type="submit" value="Place order" />
    </form>

{% endblock %}