{% extends 'base.html' %}

{% block js_content %}
    $(document).ready(function() {
        $(".menu_search").addClass('active');
    });
{% endblock %}

{% block main_content %}
<form action="/seat_conf/" method="post">
    {{ aircraft_form }}
    {% csrf_token %}
    {{ order }}
    {{ price }}
    <select name="seats">
        {% for seat in free_seats %}
            <option name="seat" value="{{ seat }}">{{ seat }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Confirm selection" />
    <input type="hidden" name="order_id" id="order_id" value="{{ order_id }}" />
</form>
{% endblock %}