{% extends 'base.html' %}

{% block main_content %}
    <h2>Your order #{{ order.id }}</h2>
    {{ order.first_name }}
    {{ order.last_name }}
    {{ order.unique_flight.departure_datetime }}
    {{ order.document_id }}
    {{ order.class_of_service }}
    {% if not order.is_registered %}
        <form action="/register/" method="POST">
            {% csrf_token %}
            <input type="hidden" name="order_id" value="{{ order.id }}"/>
            <input type="submit" value="Register"/>
        </form>
    {% endif %}
{% endblock %}