{% extends 'base.html' %}

{% block main_content %}

    <h3>{% if not order.is_registered %}Order #{{ order.id }}{% endif %}
        {% if order.is_registered %}
            Ticket #{{ order.id }} is successfully registered.
            <p class="help-block">Your seat number is {{ order.taken_seat }} in class {{ order.class_of_service }}</p>
        {% endif %}
    </h3>

    {% if not order.is_registered %}
        <form action="/register/" method="POST">
            <table class="table table-bordered">
                <thead style="background-color:dimgray; color:white">
                <tr>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Departure date</th>
                    <th>Departure time</th>
                    <th>Arrival date</th>
                    <th>Arrival time</th>
                    <th>Document id</th>
                    <th>Class of service</th>
                    <th>Booking id</th>
                    <th>Wanted seat</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ order.first_name }}</td>
                    <td>{{ order.last_name }}</td>
                    <td>{{ order.unique_flight.departure_datetime|date:"d M Y" }}</td>
                    <td>{{ order.unique_flight.departure_datetime|time:"H:i" }}</td>
                    <td>{{ order.unique_flight.arrival_date|date:"d M Y" }}</td>
                    <td>{{ order.unique_flight.arrival_time|time:"H:i" }}</td>
                    <td>{{ order.document_id }}</td>
                    <td>{{ order.class_of_service }}</td>
                    <td>{{ order.booking_id }}</td>
                    <td style="background-color: #ffeabf">
                        {{ aircraft_form }}
                        {% csrf_token %}
                        <select name="seats" autofocus="1" class="btn focused">
                            {% for seat in free_seats %}
                                <option name="seat" value="{{ seat }}">
                                    {{ seat }}
                                </option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                </tbody>
            </table>
            <p class="help-block">Select the wanted seat number from the list and click "Register" button</p>
            <input type="hidden" name="order_id" value="{{ order.id }}"/>
            <input class="btn" type="submit" value="Register"/>
        </form>
    {% endif %}

    {% if order.is_registered %}
        <table class="table table-bordered">
            <thead style="background-color:dimgray; color:white">
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Departure date</th>
                <th>Departure time</th>
                <th>Arrival date</th>
                <th>Arrival time</th>
                <th>Document id</th>
                <th>Class of service</th>
                <th>Booking id</th>
                <th>Wanted seat</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ order.first_name }}</td>
                <td>{{ order.last_name }}</td>
                <td>{{ order.unique_flight.departure_datetime|date:"d M Y" }}</td>
                <td>{{ order.unique_flight.departure_datetime|time:"H:i" }}</td>
                <td>{{ order.unique_flight.arrival_date|date:"d M Y" }}</td>
                <td>{{ order.unique_flight.arrival_time|time:"H:i" }}</td>
                <td>{{ order.document_id }}</td>
                <td>{{ order.class_of_service }}</td>
                <td>{{ order.booking_id }}</td>
                <td>{{ order.taken_seat }}</td>
            </tr>
            </tbody>
        </table>
    {% endif %}

    <p></p>

    <img src="{{ MEDIA_URL }}{{ order.unique_flight.flight.aircraft.seat_map_picture }}"/>

{% endblock %}